<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Informacje</title>
	{% extends 'base.html' %}
  </head>
  <body>
{% block content %}
  <div class="container">
<ul>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{% url 'film_list' %}"><button type="button" class="btn btn-primary">Filmy</button></a>
    <a href="{% url 'aktor_list' %}"><button type="button" class="btn btn-success">Aktorzy</button></a>
    <a href="{% url 'rezyser_list' %}"><button type="button" class="btn btn-warning">Rezyserzy</button></a>
	<a href="{% url 'ocena_list' %}"><button type="button" class="btn btn-primary">Oceny</button></a>
  </div>
{% endblock %}
  </body>
</html>