<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Oceny</title>
	{% extends 'base.html' %}
  </head>
  <body>
{% block content %}
 <div class="container">
<h2>Oceny</h2><br>
<a href="{% url 'ocena_new' %}" class="top-menu">Dodaj ocenę</a><br><br>
  {% for ocena in ocena %}
    <div>
        opublikowana: {{ ocena.published_date }}<br>
		Ocena: {{ocena.wartość}} <a href="{% url 'ocena_edit' pk=ocena.pk %}" class="top-menu">Edytuj</a><br>
        Film: {{ ocena.film }}<br>
		Użytkownik: {{ ocena.user }}<br>
		<br>
    </div>
 {% endfor %}
<a href="{% url 'ocena_new' %}" class="top-menu">Dodaj ocenę</a>
{% endblock %}
  </body>
</html>