<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Oceny</title>
  </head>
  <body>
  <h1>Oceny</h1>
  <a href="{% url 'ocena_new' %}" class="top-menu">Dodaj</a>
  {% for ocena in ocena %}
    <div>
        <p>opublikowana: {{ ocena.published_date }}</p>
        
		Ocena: <a href="{% url 'ocena_details' pk=ocena.pk %}" class="top-menu">{{ocena.wartość}}</a>
        <p>Film: {{ ocena.film }}</p>
		<p>Użytkownik: {{ ocena.user }}</p>
    </div>
  {% endfor %}
  </body>
</html>
