<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Oceny: Szczegóły</title>
	{% extends 'base.html' %}
  </head>
  <body>
{% block content %}
 <h1>Oceny: Szczegóły</h1>
    <div class="ocena">
	{% if ocena.published_date %}
        opublikowana: {{ ocena.published_date }}<br>
	{% endif %}
	Ocena: {{ ocena.wartość }} <a href="{% url 'ocena_edit' pk=ocena.pk %}">Edytuj ocenę</a><br>
        Film: {{ ocena.film }}<br>
		Użytkownik: {{ ocena.user }}<br>
    </div>
{% endblock %}
  </body>
</html>